@using PortalProgramacao.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var isAdmin = false;
    var isLogged = false;
    
    var currentUser = @User;
    
    if(currentUser != null && currentUser.Identity != null && currentUser.Identity.IsAuthenticated)
        isLogged = true;
    
    var userName = "Usuário";
    if(!isLogged)
        userName = "Faça o login";
    
     if(isLogged && currentUser != null && currentUser.Identity != null)
     {
        var user = await UserManager.FindByNameAsync(@currentUser.Identity.Name ?? string.Empty);
        userName = user.FirstName;

        isAdmin = await UserManager.IsInRoleAsync(user, "Administrator");
     }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal da Programacao NSPS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortalProgramacao.Web.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Programação NSPS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if(isLogged)
                        {
                        <li class="nav-item @ViewData["WalletMenu"]">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Wallet" asp-action="Index">Carteira</a>
                        </li>
                        <li class="nav-item @ViewData["ActivityMenu"]">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Activity" asp-action="Index">Atividades</a>
                        </li>
                        <li class="nav-item @ViewData["EmployeeMenu"]">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Colaboradores</a>
                        </li>
                        }
                    </ul>
                    <div class="navbar-nav ms-auto">
                        <div class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="/icons/account_circle_black_24dp.svg" class="avatar" alt="Avatar"> @userName <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                @if(isLogged && isAdmin) // se o usuario for admin
                                {
                                    <a asp-action="Admin" asp-controller="Home" class="dropdown-item"><i class="fa fa-sliders"></i> Admin</a>
                                }
                                
                                @if(isLogged) // se o usuario estiver logado
                                {
                                <a asp-action="UpdateUser" asp-controller="Home" class="dropdown-item"><i class="fa fa-user-o"></i> Perfil</a>
                                }
                                
                                @if(isLogged && isAdmin && false) // se o usuario for admin
                                {
                                <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Configurações</a>
                                }
                                
                                <div class="dropdown-divider"></div>
                                @if(isLogged)
                                {
                                <a asp-action="Logout" asp-controller="Home" class="dropdown-item"><img src="/icons/logout_black_24dp.svg" class="logout" alt=""> Logout</a>
                                }
                                else
                                {
                                <a id="loginLink" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalLogin"><img src="/icons/login_black_24dp.svg" alt="" > Login</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container main-container rounded rounded-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - NSPS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    
<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginLabel">Faça o login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form asp-controller="Home" asp-action="Login" method="POST" id="formLogin">
         <div class="modal-body">
           <div class="">
                <label for="UserName" class="fw-bold" style="color: #53672A;">Usuário</label>
                <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Login">
           </div>
           <div class="">
                <label for="Password" class="fw-bold" style="color: #53672A;">Senha</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
           </div>
            <span id="loginValidations" class="invalid-feedback"></span>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="confirmLogin">Logar</button>
         </div>
      </form>
    </div>
  </div>
</div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
